{
"OrderCountModifiedDate": "2021-07-10",
"OrderCount": 12,
"ProductLayoutConfiguration": {
"Columns": 6,
"Rows": 5
},
"GeneralSettings": {
"TableNumber": 17,
"NumberOfCategories": 6,
"ServerHost": "localhost:8080"
},
"LoginHistory": {
"Users": [
{
"Username": "admin",
"BackgroundString": "#FFD31178",
"Enabled": true
},
{
"Username": "user323",
"BackgroundString": "#FF397DE4",
"Enabled": true
},
{
"Username": "superuser1590",
"BackgroundString": "#FFFFA040",
"Enabled": true
},
{
"Username": "user45",
"BackgroundString": "#FFDF4B00",
"Enabled": true
}
],
"LastLoggedUserId": 0,
"LastLoggedUserByUsername": "admin"
},
"Host": "localhost:8080",
"PrintSettings": [
{
"SelectedKitchen": true,
"SelectedReceipt": true,
"Name": "POS-80-Series"
},
{
"SelectedKitchen": false,
"SelectedReceipt": false,
"Name": "Microsoft XPS Document Writer"
},
{
"SelectedKitchen": true,
"SelectedReceipt": true,
"Name": "Microsoft Print to PDF"
},
{
"SelectedKitchen": false,
"SelectedReceipt": true,
"Name": "MF230 Series"
},
{
"SelectedKitchen": false,
"SelectedReceipt": false,
"Name": "Fax"
},
{
"SelectedKitchen": false,
"SelectedReceipt": false,
"Name": "Canon MF230 Series UFRII LT"
},
{
"SelectedKitchen": false,
"SelectedReceipt": false,
"Name": "80mm Series Printer"
}
]
}