<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net472" />
  <package id="CommonComposition.Mef" version="0.2.4" targetFramework="net472" />
  <package id="ControlzEx" version="5.0.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net472" />
  <package id="MaterialDesignExtensions" version="3.2.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.Composition" version="1.0.15" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net472" />
  <package id="NLog" version="4.7.8" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net472" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net472" />
  <package id="VirtualizingWrapPanel" version="1.5.3" targetFramework="net472" />
</packages>